<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting label="32001" type="lsep"/>
        <setting label="32002" type="action" visible="!eq(1,)" option="close" action="RunScript(special://home/addons/service.purevpn.monitor/resetVPN.py, reset)"/>
        <setting label=""      type="text" id="1_vpn_validated_friendly" visible="false" enable="false" default=""/>
        <setting label="32003" type="labelenum" id="vpn_provider" visible="false" enable="eq(-1,)" lvalues="32206"/>
        <setting label=""      type="text" id="vpn_username_validated" visible="false" enable="false" default=""/>
        <setting label="32004" type="text" id="vpn_username" enable="eq(-3,)" default=""/>
        <setting label=""      type="text" id="vpn_password_validated" visible="false" enable="false" default=""/>
        <setting label="32005" type="text" id="vpn_password" enable="eq(-5,)" option="hidden"  default=""/>
        <setting label=""      type='lsep'/>
        <setting label="32006" type="labelenum" id="vpn_protocol" enable="eq(-7,)" lvalues="32007|32008|32009"/>
        <setting label="32104" type="labelenum" id="ip_info_source" lvalues="32109|32105|32106|32107|32108"/>
    </category>    
    <category label="32040">        
        <setting label="32043" type="lsep"/>       
        <setting label="32044" type="bool" id="vpn_connect_at_boot" default="true"/>
        <setting label="32045" type="bool" id="vpn_reconnect" default="true"/>
        <setting label="32046" type="bool" id="vpn_reconnect_filtering" default="true"/>
        <setting label="32047" type="bool" id="allow_cycle_disconnect" default="false"/>
        <setting label="32048" type="bool" id="display_location_on_connect" default="false"/>
        <setting label="32041" type="lsep"/>
        <setting label="32042" type="action" option="close" action="RunScript(special://home/addons/service.purevpn.monitor/recycle.py, 1)"/>
    </category>
    <category label="32060">
        <setting label="32062" type="lsep"/>        
        <setting label="32063" type="addon" id="vpn_excluded_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32064" type="lsep"/>
        <setting label="32065" type="addon" id="1_vpn_addons" addontype="xbmc.python.pluginsource" multiselect="true" default=""/>
        <setting label="32041" type="lsep"/>
        <setting label="32042" type="action" option="close" action="RunScript(special://home/addons/service.purevpn.monitor/recycle.py, 1)"/>
    </category>
</settings>
